body{
    background-image:url(images\asang\overhead-view-red-rose-smartphone-pink-background.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
}